body {
    font-family: Arial, sans-serif;
    max-width: 1720px;
    margin: 0 auto;
}

.adventure img {
    width: 300px;
    height: auto;
}

header {
    background-color: rgb(94, 94, 111);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header img {
    width: 100px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 1px;
    font-size: larger;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

nav ul li a:hover {
    background-color: #01161eff;
    color: #e7a977ff;
}

.hero {
    position: relative;
    width: 100%;
    height: 500px; 
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white; 
}

.hero h1 {
    text-align: center;
    font-size: 3rem;
    color: #92c4e3;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero article {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.7); 
    padding: 20px;
    border-radius: 10px;
}

.hero p {
    flex: 1;
    margin-right: 1rem;
    color: black; 
}

.hero article img {
    width: 200px;
    height: auto;
}
.history, .adventure {
    border: 1px solid #000;
    margin: 1rem 0;
    padding: 1rem;
}

footer {
    background-color: rgb(94, 94, 111);
    padding: 1rem;
    text-align: center;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.social-links img {
    width: 50px;
    height: auto;
}





/* 
.footer img {
    width: 50px;
    height: auto;
    justify-content: space-evenly;
    display: flex;
}
*/


