/* Coolors Exported Palette - https://coolors.co/157cd5-b6d6cc-6f5e53-01161e-e7a977 */

/* CSS HEX */
--steel-blue: #157cd5ff;
--ash-gray: #b6d6ccff;
--umber: #6f5e53ff;
--rich-black: #01161eff;
--fawn: #e7a977ff;

/* CSS HSL */
--steel-blue: hsla(208, 82%, 46%, 1);
--ash-gray: hsla(161, 28%, 78%, 1);
--umber: hsla(24, 14%, 38%, 1);
--rich-black: hsla(197, 94%, 6%, 1);
--fawn: hsla(27, 70%, 69%, 1);

/* SCSS HEX */
$steel-blue: #157cd5ff;
$ash-gray: #b6d6ccff;
$umber: #6f5e53ff;
$rich-black: #01161eff;
$fawn: #e7a977ff;

/* SCSS HSL */
$steel-blue: hsla(208, 82%, 46%, 1);
$ash-gray: hsla(161, 28%, 78%, 1);
$umber: hsla(24, 14%, 38%, 1);
$rich-black: hsla(197, 94%, 6%, 1);
$fawn: hsla(27, 70%, 69%, 1);

/* SCSS RGB */
$steel-blue: rgba(21, 124, 213, 1);
$ash-gray: rgba(182, 214, 204, 1);
$umber: rgba(111, 94, 83, 1);
$rich-black: rgba(1, 22, 30, 1);
$fawn: rgba(231, 169, 119, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #157cd5ff, #b6d6ccff, #6f5e53ff, #01161eff, #e7a977ff);
$gradient-right: linear-gradient(90deg, #157cd5ff, #b6d6ccff, #6f5e53ff, #01161eff, #e7a977ff);
$gradient-bottom: linear-gradient(180deg, #157cd5ff, #b6d6ccff, #6f5e53ff, #01161eff, #e7a977ff);
$gradient-left: linear-gradient(270deg, #157cd5ff, #b6d6ccff, #6f5e53ff, #01161eff, #e7a977ff);
$gradient-top-right: linear-gradient(45deg, #157cd5ff, #b6d6ccff, #6f5e53ff, #01161eff, #e7a977ff);
$gradient-bottom-right: linear-gradient(135deg, #157cd5ff, #b6d6ccff, #6f5e53ff, #01161eff, #e7a977ff);
$gradient-top-left: linear-gradient(225deg, #157cd5ff, #b6d6ccff, #6f5e53ff, #01161eff, #e7a977ff);
$gradient-bottom-left: linear-gradient(315deg, #157cd5ff, #b6d6ccff, #6f5e53ff, #01161eff, #e7a977ff);
$gradient-radial: radial-gradient(#157cd5ff, #b6d6ccff, #6f5e53ff, #01161eff, #e7a977ff);