@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #157cd5ff;
    --secondary-color: #b6d6ccff;
    --accent1-color: #6f5e53ff;
    --accent2-color: #01161eff;
    --accent3-color: #e7a977ff;

    --heading-font: 'Light 300', Roboto;
    --paragraph-font: 'Regular  400', Roboto;

    --nav-background-color: #157cd5ff;
    --nav-link-color: #b6d6ccff;
    --nav-hovor-link-color: #e7a977ff;
    --nav-hover-background-color: #01161eff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: auto;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

header img {
    height: 157px;
    width: auto;
}

.hero {
    position: relative;
}

.hero img {
    height: auto;
    width: 100%;
    display: block;
}

.hero h1, .hero article, .hero p {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.hero h1 {
    top: 20px;
    left: 20px;
    font-size: 3rem;
}

.hero article {
    top: 80px;
    left: 20px;
    right: 20px;
    max-width: 300px;
}

.hero article img {
    
        height: 300px;
        width: auto;
        display: block;
        left: 600px;
        position: absolute;
        top: 100px;
}




.sociallinks img {
    height: auto;
    width: 50px;
}



nav a {
    display: inline ;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}

section h2 { 
    width:100px;
    height: auto;
    }


